{% extends "base.html" %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('nav-audit').classList.add('active');
        
        onPageLoad();
    });

    function onPageLoad() {
        
    }
    
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 id="title__h1">Аудит</h1>
    <p id="title__p"></p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-4" style="width: 13em;">Время</th>
                <th scope="col-md-2" style="width: 13em;">IP</th>
                <th scope="col-md-5">Сообщение</th>
            </tr>
        </thead>
        <tbody>
            {% for event in audit|reverse %}
            <tr>
                <td>
                    {{ event.id }}
                </td>
                <td>
                    {{ event.created_at.strftime('%H:%M%:%S %d.%m.%Y') }}
                </td>
                <td>
                    {% if event.ip == "None:None" %}
                        Неизвестно
                    {% else %}
                        {{ event.ip }}
                    {% endif %}
                </td>
                <td>
                    {{ event.message }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}