{% extends "base.html" %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('nav-events').classList.add('active');
        
        onPageLoad();
    });

    function onPageLoad() {
        const getServerIDFromURL = new URLSearchParams(window.location.search).get('network_server_id');
        if (getServerIDFromURL === null) {
            showNotifyError('Failed to get network ID from URL');
            return;
        }

        fetch(`/api/nodes/${getServerIDFromURL}`)
        .then(response => {
            if (!response.ok) {
                showNotifyError(`Failed to get node: ${response.statusText}`);
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            document.getElementById('title__h1').innerHTML = `События сети <code>${data.networks[0].name}</code>`;
        })
    }
    
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 id="title__h1">События</h1>
    <p id="title__p"></p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col-md-1">#</th>
                <th scope="col-md-4" style="width: 13em;">Время</th>
                <th scope="col-md-5">Сообщение</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>
                    {{ event.id }}
                </td>
                <td>
                    {{ event.created_at }}
                </td>
                <td>
                    {{ event.message }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}