{% extends "base.html" %}

{% block head %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('nav-networks').classList.add('active');
    });

    function removeGrafanaURL(networkID) {
        fetch(`/api/monitoring-setups/${networkID}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to delete node');
            }
            window.location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
            alert(`Failed to delete node: ${error}`);
        });
    }


</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Список VPN-сетей</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-3">Название</th>
                <th class="col-md-4">Сервер</th>
                <th class="col-md-5">Клиенты</th>
                <th class="col-md-2">Задачи</th>
                <th class="col-md-2">Дашборд</th>
                <th class="col-md-1 text-center">Мониторинг</th>
                <th class="col-md-2">События</th>
            </tr>
        </thead>
        <tbody>
            {% for network in networks %}
            <tr class="align-middle">
                <td>{{ network.name }}</td>
                <td>{{ network.server[0].name }} ({{ network.server[0].system }})</td>
                <td>
                    {% for client in network.clients %}
                    <ul class="list-group">
                        <li>{{ client.name }} ({{ client.system }})</li>
                    </ul>
                    {% endfor %}
                </td>

                <td>
                    <a href="scheduler?node_id={{ network.server[0].id }}" class="btn btn-outline-primary">Запланировать</a>
                </td>

                
                {% if network.grafana_url %}
                <td colspan="1">    
                    <a href="{{ network.grafana_url }}" class="btn btn-warning" style="width: 7em;" target="_blank" rel="noopener noreferrer">Grafana</a>
                </td>

                <td class="text-center">
                    <button class="btn btn-outline-danger" onclick="removeGrafanaURL({{ network.id }})">Удалить</button>
                </td>
                {% else %}
                <td colspan="2" class="text-center">    
                    <a href="monitoring?network_server_id={{ network.server[0].id }}&network_id={{ network.id }}" class="btn btn-outline-primary" style="width: 17em;">Настроить</a>
                </td>
                {% endif %}

                <td>
                    <a href="events?network_server_id={{ network.server[0].id }}" class="btn btn-outline-primary position-relative">
                        Смотреть
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">События</span>
                        </span>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}