{% extends "base.html" %}

{% block head %}
<script>
    function showNotifySuccess(message, additional) {
        $.notify({
            // options
            title: `<strong>${message}</strong>`,
            message: `<pre>${additional}</pre>`,
        icon: 'glyphicon glyphicon-ok',
            url: 'https://github.com/mouse0270/bootstrap-notify',
            target: '_blank'
        },{
            // settings
            element: 'body',
            //position: null,
            type: "success",
            allow_dismiss: true,
            //newest_on_top: false,
            showProgressbar: false,
            placement: {
                from: "top",
                align: "center"
            },
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 3300,
            timer: 1000,
            url_target: '_blank',
            mouse_over: null,
            animate: {
                enter: 'animated fadeInDown',
                exit: 'animated fadeOutRight'
            },
            onShow: null,
            onShown: null,
            onClose: null,
            onClosed: null,
            icon_type: 'class',
        });
    }
    function getActiveForm() {
        var activeForm = document.getElementsByClassName('use-this-form');
        if (activeForm.length > 1) {
            alert('Error: More than one form is active!');
        } else if (activeForm.length === 0) {
            alert('Error: No form is active!');
        }
        return activeForm[0];
    }
    document.addEventListener("DOMContentLoaded", function(){
        document.getElementById('nav-setup').classList.add('active');
    });

    document.addEventListener("DOMContentLoaded", (event) => {
        toggleForm();

        const togglers = ['system', 'protocol', 'role', 'custom_settings'];
        togglers.forEach(toggler => {
            document.getElementById(toggler).addEventListener('change', function() {
                toggleForm();
            });
        });

        // set node name to `title__h1`
        const getNodeIDFromURL = new URLSearchParams(window.location.search).get('node_id');
        if (getNodeIDFromURL !== null) {
            fetch(`/api/nodes/get/${getNodeIDFromURL}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.getElementById('title__h1').innerText = `Настройка ${data.name}`;
            })
        }   
    });
    
    function toggleForm() {
        function _hideAllForms() {
            var forms = document.getElementsByClassName('settings_form');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
                forms[i].classList.remove('use-this-form');
            }
        }
        function _makeFormActive(form_id) {
            var form = document.getElementById(form_id);
            form.style.display = 'block';
            form.classList.add('use-this-form');
        }

        const system = document.getElementById('system').value;
        const protocol = document.getElementById('protocol').value;
        const role = document.getElementById('role').value;
        const custom_settings = document.getElementById('custom_settings').value;

        console.log("system:", system, "protocol:", protocol, "role:", role, "custom_settings:", custom_settings);

        _hideAllForms();
        if (system === 'UNIX' && protocol === 'WIREGUARD' && role === 'SERVER' && custom_settings === 'NO') {
            _makeFormActive("form__unix-wg-server");
        } else if (custom_settings === "YES") {
            _makeFormActive("form__custom-settings");
        } else {
            alert('Not implemented yet!');
            _hideAllForms();
        }

        // print `use-this-form` form active
        console.log(getActiveForm());
    }

    function startSetup() {
        function _displayLoader() {
            document.getElementById('submit-start-settings-btn__loader').style.display = 'block';
            document.getElementById('submit-start-settings-btn__loader').classList.remove("col-0");
            document.getElementById('submit-start-settings-btn__loader').classList.add("col-1");
            document.getElementById('submit-start-settings-btn__text').classList.remove("col");
            document.getElementById('submit-start-settings-btn__text').classList.add("col-5");
        }
        function _hideLoader() {
            document.getElementById('submit-start-settings-btn__loader').style.display = 'none';
            document.getElementById('submit-start-settings-btn__loader').classList.remove("col-1");
            document.getElementById('submit-start-settings-btn__loader').classList.add("col-0");
            document.getElementById('submit-start-settings-btn__text').classList.remove("col-5");
            document.getElementById('submit-start-settings-btn__text').classList.add("col");
        }

        const system = document.getElementById('system').value.toLowerCase();
        const protocol = document.getElementById('protocol').value.toLowerCase();
        const role = document.getElementById('role').value.toLowerCase();
        const custom_settings = document.getElementById('custom_settings').value;
        const network_name = document.getElementById('network_name').value;

        var activeForm = getActiveForm();
        var formData = new FormData(activeForm);
        // URL with Node ID: http://0.0.0.0:8000/setup?node_id=1
        const getNodeIDFromURL = new URLSearchParams(window.location.search).get('node_id');


        var jsonData = {};

        // Convert FormData to JSON
        for (var [key, value] of formData.entries()) {
            jsonData[key] = value;
        }
        jsonData['server_id'] = getNodeIDFromURL;

        console.log('jsonData:', jsonData);
        _displayLoader();
        // Make POST request
        if (custom_settings == "YES") {
            const custom_commands = jsonData['custom_settings__textarea'].split("\n");
            fetch('/api/setups/custom-setup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(
                    {
                        "server_id": getNodeIDFromURL,
                        "network_name": network_name,
                        "role": role.toUpperCase(),
                        "commands": custom_commands,
                        "protocol": protocol.toUpperCase(),
                    }
                )
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle response data
                _hideLoader();
                console.log(data);

                let inputs_and_outputs = '';
                for (let i = 0; i < Math.min(custom_commands.length, data.responses.length); i++) {
                    inputs_and_outputs += `<u>${custom_commands[i]}</u>\n`;
                    inputs_and_outputs += `${data.responses[i]}\n`;
                    inputs_and_outputs += "<hr>";
                }
                showNotifySuccess(`Настройка выполнена успешно!`, inputs_and_outputs);
            })
        } else {
            console.log(`POST request to /api/setups/${system}-${protocol}-${role}`);
            fetch(`/api/setups/${system}-${protocol}-${role}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Handle response data
                _hideLoader();
                console.log(data);
            })
            .catch(error => {
                // Handle errors
                _hideLoader();
                console.error('There was an error with the POST request:', error);
            });
        }
    }

    function copyValuesFromPlaceholdersToInputs() {
        var placeholders = document.querySelectorAll('input[placeholder]');
        placeholders.forEach(function(placeholder) {
            placeholder.value = placeholder.placeholder;
        });
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 id="title__h1">Настройка</h1>
    <form id="form-select-system-protocol-role">
        <div class="row mb-4">
            <div class="col">
                <label for="system">Система</label>
                <select id="system" name="system" class="form-select">
                    <option value="UNIX">UNIX</option>
                    <option value="CISCO">CISCO</option>
                    <option value="OPENWRT">OPENWRT</option>
                    <option value="MIKROTIK">MIKROTIK</option>
                </select>
            </div>
            <div class="col">
                <label for="protocol">Протокол</label>
                <select id="protocol" name="protocol" class="form-select">
                    <option value="WIREGUARD">WIREGUARD</option>
                    <option value="L2TP">L2TP</option>
                    <option value="PP2P">PP2P</option>
                </select>
            </div>
            <div class="col">
                <label for="role">Роль</label>
                <select id="role" name="role" class="form-select">
                    <option value="SERVER">SERVER</option>
                    <option value="CLIENT">CLIENT</option>
                </select>
            </div>
            <div class="col">
                <label for="custom_settings">Произвольная настройка</label>
                <select id="custom_settings" name="custom_settings" class="form-select">
                    <option value="NO">Нет</option>
                    <option value="YES">Да</option>
                </select>
            </div>
        </div>
    </form>

    <!-- UNIX WIREGUARD SERVER FORM -->
    <form id="form__unix-wg-server" class="settings_form" style="display:none;">
        <div class="form-group mb-3">
            <label for="address_mask">Адрес, который назначается (виртуальному) сетевому интерфейсу</label>
            <input type="text" id="address_mask" name="address_mask" class="form-control" aria-describedby="address_mask_help" placeholder="10.0.0.1/24" required>
            <small id="address_mask_help" class="form-text text-muted">Определяет, в какой диапазон адресов локальный узел должен направлять трафик. В зависимости от того, является ли узел простым клиентом, подключающимся к подсети VPN, или резервным сервером, который ретранслирует трафик между несколькими клиентами, для этого может быть установлен один IP-адрес самого узла (указанный в обозначении CIDR), например 192.0.2.3/32, или диапазон подсетей IPv4/IPv6, для которых узел может маршрутизировать трафик.</small>
        </div>
        <div class="form-group mb-3">
            <label for="port">Порт</label>
            <input type="number" id="port" name="port" class="form-control" aria-describedby="port_help" placeholder="51830" required>
            <small id="port_help" class="form-text text-muted">Когда узел работает как общедоступный сервер передачи данных, он должен строго определить порт для прослушивания входящих VPN-подключений из общедоступного Интернета. Клиенты, не выполняющие функции ретрансляторов, не должны устанавливать это значение.</small>
        </div>
        <div class="form-group mb-3">
            <label for="interface">Интерфейс</label>
            <input type="text" id="interface" name="interface" class="form-control" placeholder="ens4" required>
        </div>
        <div class="form-group mb-3">
            <label for="server_client_allowed_ips">Разрешенные IP-адреса для сервера</label>
            <input type="text" id="server_client_allowed_ips" name="server_client_allowed_ips" class="form-control" aria-describedby="client_all_ip_help" placeholder="10.0.0.2/32" required>
            <small id="server_client_all_ip_help" class="form-text text-muted">Определяет диапазоны IP-адресов, для которых узел будет перенаправлять трафик. Для простых клиентов это обычно один адрес (VPN-адрес самого простого клиента). Для серверов передачи данных – диапазон IP-адресов или подсетей, для которых сервер ретрансляции способен перенаправлять трафик. Несколько IP-адресов и подсетей могут быть указаны с использованием обозначений CIDR IPv4 или IPv6, разделенных запятыми (начиная с одного адреса /32 или /128, вплоть до 0.0.0.0/0 и ::/0, чтобы указать маршрут по умолчанию для отправки всего интернет-трафика и VPN-трафика через этот узел).</small>
        </div>
        <div class="form-group mb-3">
            <label for="base_directory">Директория для сохранения конфигурационных файлов сервера</label>
            <input type="text" id="base_directory" name="base_directory" class="form-control" placeholder="/etc/wireguard" required>
        </div>
        
        <hr class="mt-2 mb-2">

        <div class="form-group mb-3">
            <label for="client_config_directory">Файл для сохранения конфигурации клиента</label>
            <input type="text" id="client_config_directory" name="client_config_directory" class="form-control" placeholder="/dev/shm/client_wg.conf" required>
        </div>
        <div class="form-group mb-3">
            <label for="client_address_mask">IP-адрес клиента</label>
            <input type="text" id="client_address_mask" name="client_address_mask" class="form-control" placeholder="10.0.0.2/32" required>
        </div>
        <div class="form-group mb-3">
            <label for="client_dns">Клиентский DNS-сервер</label>
            <input type="text" id="client_dns" name="client_dns" class="form-control" placeholder="8.8.8.8" required>
            <small class="form-text text-muted">Сервер доменных имен, используемый для преобразования имен хостов в IP-адреса для клиентов VPN</small>
        </div>
        <div class="form-group mb-3">
            <label for="client_endpoint_host">IP-адрес сервера</label>
            <input type="text" id="client_endpoint_host" name="client_endpoint_host" class="form-control" placeholder="192.168.1.122" required>
            <small class="form-text text-muted">Определяет общедоступный адрес для удаленного узла. Это следует не учитывать для узлов, находящихся за NAT, или узлов, у которых нет стабильной общедоступной пары IP:ПОРТ. Как правило, это нужно определить только на главном сервере, но это также может быть определено на других общедоступных узлах со стабильными IP-адресами.</small>
        </div>
        <div class="form-group mb-3">
            <label for="client_endpoint_port">Порт сервера</label>
            <input type="number" id="client_endpoint_port" name="client_endpoint_port" class="form-control" placeholder="51830" required>
        </div>
        <div class="form-group mb-3">
            <label for="client_allowed_ips">Разрешенные IP-адреса для клиента</label>
            <input type="text" id="client_allowed_ips" name="client_allowed_ips" class="form-control" placeholder="0.0.0.0/0" required>
        </div>
        <div class="form-group mb-3">
            <label for="client_persistent_keepalive">Таймаут Ping-запросов клиента</label>
            <input type="number" id="client_persistent_keepalive" name="client_persistent_keepalive" class="form-control" placeholder="20" required>
            <small>Если соединение проходит с узла за NAT на общедоступный узел, узел, расположенный за NAT, должен регулярно отправлять исходящий ping-запрос, чтобы поддерживать двунаправленное соединение в рабочем состоянии в таблице подключений маршрутизатора NAT.</small>
        </div>

    </form>

    <!-- CUSTOM SETTINGS FORM -->
    <form id="form__custom-settings" class="settings_form" style="display:none;">
        <div class="form-group mb-3">
            <label for="custom_settings__textarea">Свои настройки</label>
            <textarea id="custom_settings__textarea" name="custom_settings__textarea" class="form-control" rows="10" placeholder="Введите свои команды"></textarea>
        </div>
    </form>

    <!-- название сети -->
    <div class="input-group mb-3 w-25 mt-4 mb-5" style="min-width: 350px;">
        <input id="network_name" type="text" class="form-control" placeholder="Название сети" aria-label="Название сети" aria-describedby="button-addon2">
        <button type="Настроить" id="submit-start-settings-btn" class="btn btn-primary" onclick="startSetup()">
            <div class="row">
                <div id="submit-start-settings-btn__loader" class="col-0" style="display: none;">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Настройка...</span>
                    </div>
                </div>
                <span id="submit-start-settings-btn__text" class="col">Настроить</span>
            </div>
        </button>
    </div>

    <!-- debug stuff -->
    <button type="placeholders2imputs" class="btn btn-secondary mt-4 mb-5" onclick="copyValuesFromPlaceholdersToInputs()">copyValuesFromPlaceholdersToInputs</button>

</div>
{% endblock %}